
.container {
  display: flex;
  gap: 2rem;
  align-items: center; 
  min-height: 100vh;
  padding: 2rem;
}

.containerLeft,
.containerRight {
  flex: 0 0 50%; 
  box-sizing: border-box; 
}

.containerLeft {
  display: flex;
  flex-direction: column;

}

.containerRight {
  display: flex;
  justify-content: center;
}

.fotoImg {
  width: 100%;
  height: auto;
  max-width: 580px;
  border-radius: 8px;
}


